:host {
    display: inline-block;
    width: 300px;
    margin: 8px;
}
.cover-art {
    width: 300px;
    height: 300px;
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 8px;
    overflow: hidden;

    img {
        width: 100%;
    }
}
